.flex-container {
  display: flex;
}

.box {
  margin-left: 300px;
}
.box input {
  border-radius: 4px;
}

.box {
  display: flex;
  flex-direction: column;
}

.box {
  width: 380px;
  margin: 10px; /* Thêm khoảng cách giữa các hộp */
  margin-left: 250px;
  padding: 15px; /* Thêm lề nếu cần */
  border: 1px solid #ddd; /* Đường viền */
  border-radius: 10px; /* Bo góc */
  background-color: #e8e8e8;
}

.method-payment {
  width: 400px;
  margin: 10px; /* Thêm khoảng cách giữa các hộp */
  margin-left: 50px;
  padding: 15px; /* Thêm lề nếu cần */
  border: 1px solid #ddd; /* Đường viền */
  border-radius: 10px; /* Bo góc */
  background-color: #e8e8e8;
  
}
.payment {
  width: 300px;
  height: 50px;
  margin: 10px; /* Thêm khoảng cách giữa các hộp */
  margin-left: 30px;
  padding: 15px; /* Thêm lề nếu cần */
  border: 0.25px solid #000; /* Đường viền */
  border-radius: 10px; /* Bo góc */
  background-color: #ffffff;
}

.fa-solid.fa-circle-check {
  color: green;
  margin-left: 200px;
  /* display: none; */
  cursor: pointer;
}

.btn.btn-default {
  background-color: #ff6699;
  color: white;
  margin: 50px 50px 50px 35px ;
  width: 300px;
  height: 50px;
  border-radius: 10px; /* Bo góc */
  text-align: center;
}
input[type="text"]{
  width: 300px;
  height: 40px;
  border-radius: 8px;
  text-align:center;
  border:1.8px solid #000;
  background-color: white;
}
.payment img {
  /* display: block;  */
  /* margin-bottom: 50px; 
  /* margin-top: 5px; */
  width: 30px;
  height: auto;
}
h4{
  color: #ff6699;
}