body {
  margin: 0;
  padding: 0;
  font-family: "Sans-serif";
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #ff6699;
  border: 3px solid black;
}

.cs_footer,
.sb_footer,
.na_footer {
  flex: 1;
  margin-right: 20px;
}

.cs_footer {
  margin-left: 40px;
  color: black;
}

.cs_footer button {
  border-radius: 5px;
  background-color: #e89b93;
  transition: background-color 0.3s; /* Add transition for smooth effect */
}

.cs_footer button:hover {
  background-color: #66b3ff; /* Change to your desired hover color */
}

.sb_footer {
  margin-left: 20px;
  color: #e89b93;
}

.sb_footer i {
  color: #ea0303;
  transition: color 0.3s; /* Add transition for smooth effect */
}

.sb_footer i:hover {
  color: #66b3ff; /* Change to your desired hover color */
}

.bot_footer {
  flex-basis: 100%;
  background-color: #dfb2a9;
  margin-top: 20px;
}

.bot_footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.bot_footer li {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: black;
  transition: color 0.3s; /* Add transition for smooth effect */
}

.bot_footer li:hover {
  color: #66b3ff; /* Change to your desired hover color */
}

.footer h3 {
  color: black;
  font-size: 25px;
  margin: 15px 0px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  text-decoration: none;
  color: black;
  transition: color 0.3s; /* Add transition for smooth effect */
}

.footer a:hover {
  color: #66b3ff; /* Change to your desired hover color */
}

.footer li {
  margin-bottom: 10px;
}

.sb_footer input,
.sb_footer button {
  margin-top: 10px;
}

/* Add styling for social media icons as needed */
.fa-instagram,
.fa-facebook,
.fa-pinterest,
.fa-twitter,
.fa-tiktok {
  font-size: 24px;
  margin-right: 10px;
  color: black;
  transition: color 0.3s; /* Add transition for smooth effect */
}

.fa-instagram:hover,
.fa-facebook:hover,
.fa-pinterest:hover,
.fa-twitter:hover,
.fa-tiktok:hover {
  color: #66b3ff; /* Change to your desired hover color */
}
