body {
  margin: 0;
  padding: 0;
  font-family: "Sans-serif";
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Style for the header container */
.header {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the logo */
.header h3 {
  margin: 0;
  color: #ff6699;
  font-size: 30px;
}
.header h3:hover {
  position: relative;
  animation: sparkle 0.5s infinite;
}

@keyframes sparkle {
  0% {
    color: #ff6699;
    transform: scale(1);
  }
  50% {
    color: #976b81;
    transform: scale(1.2);
  }
  100% {
    color: #53cbfe;
    transform: scale(1);
  }
}

.search_header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

input[name="search"] {
  padding: 8px;
  border-radius: 5px;
  width: 300px;
  border: 1px solid #ff6699;
  transition: border-color 0.3s ease; /* Adding a smooth transition effect */
}

.search_header i {
  font-size: 24px;
  margin-left: 10px;
  color: #ff6699;
  transition: color 0.3s ease; /* Adding a smooth transition effect */
}

.search_header:hover input[name="search"] {
  border-color: #59c0f8; /* Change to the desired color on hover (green) */
}

.search_header:hover i {
  color: #59c0f8; /* Change to the desired color on hover (green) */
}

/* Style for the menu items */
.menu {
  display: flex;
  gap: 10px; /* Adjust the spacing between menu items as needed */
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.menu a {
  text-decoration: none;
  color: #ff6699; /* Set the desired text color */
  transition: color 0.3s ease; /* Adding a smooth transition effect */
}

.menu a:hover {
  color: #53cbfe; /* Change to the desired color on hover (green) */
}

/* Style for the authentication buttons */
.auth-buttons img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.auth-buttons button:nth-child(2){
  background-color: #ff6699;
}
.auth-buttons button:nth-child(1){
  background-color: transparent;
}
.auth-buttons button{
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.auth-buttons button a{
  color:#fff;
}
.dropdown{
  background-color: transparent!important;
}